.fake-card {
  color: $coolGrayColor;
  &--fake {
    .fake-card__text {
      ul {
        li {
          &:before {
            background: currentColor;
          }
        }
      }
    }
  }
  &__media {
    width: 100%;
    max-width: 87.8rem;
    margin: 0 0 6.2rem;
    position: relative;
  }
  &__picture {
    @extend %img-contain;
    padding-bottom: 57.8587699317%;
  }
  &__btn-video {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__content {
    max-width: 83rem;
  }
  &__text {
  }
}