.section-head {
  padding: $rhythmDesktop1 0 $rhythmDesktop2;
  &__container {
  }
  &__row {
    justify-content: space-between;
  }
  &__col {
    &--title {
    }
    &--content {
      margin-right: $colWidth;
    }
  }
  &__title {
    margin: 12rem 0 0;
  }
  &__text {
    margin: 31rem 0 0;
  }
}