.section-price {
  padding: var(--vr-1) 0 var(--vr-2);
  position: relative;
  &:before {
    background: rgba($steelGrayColor, .6);
    height: 1px;
    content: '';
    position: absolute;
    top: 0;
    right: var(--gap-fluid);
    left: var(--gap-fluid);
  }
  &__container {
  }
  &__header {
    padding-bottom: 8.2rem;
    &-row {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &-col  {
      &--main {
      }
      &--aside {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      }
    }
    &-main {
      > :last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      margin: .9rem -1.2rem 2.3rem 0;
    }
    &-text {
      max-width: 75rem;
      margin: 0 0 4.4rem;
    }
    &-time {
      margin-left: .4rem;
    }
    &-excel-price {
      max-width: 40rem;
      margin-top: -.1rem;
    }
  }
  &__list {
    counter-reset: sectionPriceCard;
  }
  &__card {
    counter-increment: sectionPriceCard;
    border-top: 1px solid rgba($steelGrayColor, .15);
    &:not(:last-child) {
      margin-bottom: 8.8rem;
    }
    &-header {
      padding: var(--vr-5) 0 var(--vr-3);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      &-content {
        padding-right: 3rem;
      }
      &-title {
        margin: 0 0 var(--vr-7);
      }
      &-subtitle {
        margin: 0;
        font-size: var(--fs-6);
        line-height: $lineHeight8;
        color: rgba($blackColor, .6);
        letter-spacing: $letterSpacingXs;
      }
      &-counter {
        margin: 0;
        flex-shrink: 0;
        font-weight: 600;
        font-size: var(--fs-7);
        color: rgba($blackColor, .6);
        white-space: nowrap;
        &:after {
          content: counter(sectionPriceCard, decimal-leading-zero);
        }
      }
    }
    &-table {
    }
    &:last-child {
      table {
        tbody {
          tr {
            &:last-child {
              td {
                border-bottom-width: 1px;
              }
            }
          }
        }
      }
    }
  }
}