<header class="@@el header">
  <div class="header__head">
    <div class="container container--size-fluid header__head-container">
      <div class="header__head-left">
        <a href="/" class="header__logo">
          <picture class="header__logo-img">
            <img src="images/logo-theme-black.svg" width="230" height="41" alt="ТоргПласт">
          </picture>
        </a>
        <div class="dropdown-city header__choose-city">
          <button type="button" class="js-dropdown-city-toggle dropdown-city__btn">
            <span class="dropdown-city__btn-title">Санкт-Петербург</span>
            <svg class="u-icon dropdown-city__btn-icon">
              <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
            </svg>
          </button>
          <div class="dropdown-city__body">
            <ul class="dropdown-city__list">
              <li class="dropdown-city__list-item">
                <button type="button" class="js-dropdown-city-item dropdown-city__item">Москва</button>
              </li>
              <li class="dropdown-city__list-item">
                <button type="button" class="js-dropdown-city-item dropdown-city__item">Москва</button>
              </li>
              <li class="dropdown-city__list-item">
                <button type="button" class="js-dropdown-city-item dropdown-city__item">Москва</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__head-right">
        <div class="header__phone-wrapper">
          <a href="tel:+73432372372" target="_blank" class="header__phone">+7 (343) 237-23-72</a>
        </div>
        <button type="button" class="basket-count header__basket">
          <svg class="u-icon basket-count__icon">
            <use xlink:href="images/icons/icons.svg#basket"></use>
          </svg>
          <span class="basket-count__title">0</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__foot">
    <div class="container container--size-fluid header__foot-container">
      <div class="header__foot-left">
        <div class="catalog-dropdown header__catalog">
          <button type="button" class="js-catalog-dropdown-toggle catalog-dropdown__btn">
            <svg class="u-icon catalog-dropdown__btn-icon catalog-dropdown__btn-icon--dots">
              <use xlink:href="images/icons/icons.svg#dots"></use>
            </svg>
            <span class="catalog-dropdown__btn-title">Каталог</span>
            <svg class="u-icon catalog-dropdown__btn-icon catalog-dropdown__btn-icon--arrow">
              <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
            </svg>
          </button>
          <div class="catalog-dropdown__body"></div>
        </div>
      </div>
      <div class="header__foot-right">
        <nav class="u-nav header__nav" role="navigation">
          <ul class="u-nav__list">
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">О заводе</span>
                <svg class="u-icon u-nav__link-icon">
                  <use xlink:href="images/icons/icons.svg#arrow-type-1"></use>
                </svg>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Отзывы</span>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Дилерам</span>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Акции</span>
                <span class="u-badge u-badge--size-sm u-badge--theme-gradient-accent u-nav__link-badge"><strong>до 50</strong>%</span>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Доставка и оплата</span>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Советы и статьи</span>
              </a>
            </li>
            <li class="u-nav__item">
              <a href="#" class="u-nav__link">
                <span class="u-nav__link-title">Контакты</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>