@font-face {
  font-family: 'Istok Web';
  src: url('../fonts/IstokWeb-Regular.woff2') format('woff2'),
       url('../fonts/IstokWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url('../fonts/IstokWeb-Italic.woff2') format('woff2'),
       url('../fonts/IstokWeb-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url('../fonts/IstokWeb-BoldItalic.woff2') format('woff2'),
       url('../fonts/IstokWeb-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url('../fonts/IstokWeb-Bold.woff2') format('woff2'),
       url('../fonts/IstokWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'),
       url('../fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
       url('../fonts/ProximaNova-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}