$siteResolution: .05208333333vw;
$mainFont: 'Inter';
$accentFont: 'Proxima Nova';
$mainWeight: 400;
$lineHeight1: .9;
$lineHeight2: 1;
$lineHeight3: 1.1;
$lineHeight4: 1.2;
$lineHeight5: 1.3;
$lineHeight6: 1.35;
$lineHeight7: 1.4;
$lineHeight8: 1.5;
$lineHeightDefault: $lineHeight6;

$letterSpacingDefault: -.02em;
$letterSpacingXs: -.01em;

$containerWidthFluid: 1860rem;

$whiteColor: #FAFAFA;
$blackColor: #292A2E;
$lightLavenderColor: #F5F5F7;
$steelGrayColor: #60626C;
$orangeRedColor: #F35816;
$burntOrangeColor: #A43B0F;
$coolGrayColor: #787B87;
$lightGrayColor: #EEEEEE;
$almostWhiteColor: #FAFBFF;
$accentColor: $orangeRedColor;

$rhythmDesktop1: 80rem;
$rhythmDesktop2: 120rem;
$rhythmDesktop3: 32rem;
$rhythmDesktop4: 40rem;
$rhythmDesktop5: 24rem;
$rhythmDesktop6: 16rem;
$rhythmDesktop7: 8rem;
$rhythmDesktop8: 48rem;

$gap: 10rem;
$gapFluid: 20rem;

$radiusSm: 6rem;
$radiusSemi: 8rem;

$colWidth: 8.333333%;

$gradientAccent1: linear-gradient(90deg, $orangeRedColor 0%, $burntOrangeColor 100%);

$bgSite: $lightLavenderColor;
$ffMain: $mainFont, $accentFont, sans-serif, Arial;
$ffAccent: $accentFont, sans-serif, Arial;
$fontColor: $blackColor;
$fontWeight: $mainWeight;

$transition: all .4s 0ms;

$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs + 1;

:root {
  --fs-default: 18rem;
  --fs-1: 72rem;
  --fs-2: 56rem;
  --fs-3: 42rem;
  --fs-4: 24rem;
  --fs-5: 18rem;
  --fs-6: 16rem;
  --fs-7: 14rem;
  --fs-8: 12rem;
  --gap: 10rem;
  --gap-: -10rem;
  --gap-2: 20rem;
  --gap-2-: -20rem;
  --gap-fluid: 50rem;
  --gap-fluid-: -50rem;
  @media (max-width: $xl) {
  }
}